@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

body{
    background-color: rgb(228, 228, 141);
}

h1{
    font-family: "Cormorant Upright", serif;
}

h2{
    font-family: "Cormorant Upright", serif;
}

h3{
    font-family: "Cormorant Upright", serif;
}

img{
    width: 500px; height: 300px;
}

hr{
    background-color:black
}


 nav {
        background: yellow;
        display: flex;
        justify-content: center;
        padding: 12px 0;
        border-bottom: 4px color(lightyellow yellow);
    }

    nav a {
        color: #000;
        text-decoration: none;
        margin: 0 20px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    nav a:hover {
        text-decoration: underline;
        font-size: 20px;
    }